.root {
  display: flex;
  flex-direction: column;
  gap: 38px;
  max-width: 781px;
  width: 100%;

  .messagesList {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 17px;
    height: 623px;
    width: 100%;
    border-radius: 16px;
    background: #fff;
    padding: 36px 15px 36px 19px;

    .stopBtn {
      width: fit-content;
    }
  }
}
